.w3-container .perso-shadow h2 {
	text-decoration: underline;
}

.perso-shadow {
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
  height: 1px;
  color: silver;
  background-color: silver;
}

.w3-container .w3-right-align h2{
	cursor: pointer;
}

.w3-container .w3-right-align h2:hover {
	-webkit-animation:fading 1s;
	animation:fading 0.5s;
}

.perso-modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	overflow: hidden;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.perso-banniere {
	background-image: url('file:///D:/Bureau/html/racine/assets/banniere.png');
	background-size: 100%;
	height: 140px;
}

main ul{
	height: 80px;
}

main ul li input {
	height: 40px;
	margin-top: 20px;
}

main ul li button {
	height: 40px;
	margin-top: 20px;
}

.w3-theme-l5 {color:#000 !important; background-color:#fff9f4 !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffead9 !important}
.w3-theme-l3 {color:#000 !important; background-color:#ffd5b4 !important}
.w3-theme-l2 {color:#000 !important; background-color:#ffc18e !important}
.w3-theme-l1 {color:#000 !important; background-color:#ffac68 !important}
.w3-theme-d1 {color:#fff !important; background-color:#ff8622 !important}
.w3-theme-d2 {color:#fff !important; background-color:#ff7402 !important}
.w3-theme-d3 {color:#fff !important; background-color:#e16500 !important}
.w3-theme-d4 {color:#fff !important; background-color:#c15700 !important}
.w3-theme-d5 {color:#fff !important; background-color:#a14800 !important}

.w3-theme-light {color:#000 !important; background-color:#fff9f4 !important}
.w3-theme-dark {color:#fff !important; background-color:#a14800 !important}
.w3-theme-action {color:#fff !important; background-color:#a14800 !important}

.w3-theme {color:#000 !important; background-color:#ff9742 !important}
.w3-text-theme {color:#ff9742 !important}
.w3-border-theme {border-color:#ff9742 !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#ff9742 !important}
.w3-hover-text-theme {color:#ff9742 !important}
.w3-hover-border-theme:hover {border-color:#ff9742 !important}