.w3-container .w3-green h2 {
	text-decoration: underline;
}

.perso-shadow {
	background-color: rgba(0, 0, 0, 0.1);
}

hr {
  height: 1px;
  color: silver;
  background-color: silver;
}

.w3-container .w3-right-align h2{
	cursor: pointer;
}

.w3-container .w3-right-align h2:hover {
	-webkit-animation:fading 1s;
	animation:fading 0.5s;
}

.perso-modal-content {
	background-color: rgba(255, 255, 255, 0.9);
	width: 70%;
	overflow: hidden;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}